body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    margin-top: 0;
}

#login-form,
#registration-form,
#todo-app {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
}

#login-form h2,
#registration-form h2,
#todo-app h2 {
    text-align: center;
}

#login-form form,
#registration-form form,
#todo-app form {
    display: flex;
    flex-direction: column;
}

#login-form input,
#login-form button,
#registration-form input,
#registration-form button,
#todo-app input,
#todo-app button {
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#login-form button,
#registration-form button,
#todo-app button {
    cursor: pointer;
}

#todo-list {
    list-style-type: none;
    padding: 0;
}

#todo-list li {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#todo-list li button {
    margin-left: 10px;
}

#todo-list li:last-child {
    border-bottom: none;
}

#logout-btn, .delete-btn {
    margin-top: 10px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 8px 15px;
    cursor: pointer;
}

#logout-btn:hover, .delete-btn:hover {
    background-color: #c0392b;
}

.box {
    display: flex;
    justify-content: center;
    color: cadetblue;
    font-size: 20px;
    margin: 10px;
}